# Edit Your Expectation Suite
Use this notebook to recreate and modify your expectation suite:

**Expectation Suite Name**: `pandas_penguins_data`

We'd love it if you **reach out to us on** the [**Great Expectations Slack Channel**](https://greatexpectations.io/slack)

In [1]:
import datetime
import great_expectations as ge
import great_expectations.jupyter_ux
from great_expectations.data_context.types.resource_identifiers import (
    ValidationResultIdentifier,
)

context = ge.data_context.DataContext()

# Feel free to change the name of your suite here. Renaming this will not
# remove the other one.
expectation_suite_name = "pandas_penguins_data"
suite = context.get_expectation_suite(expectation_suite_name)
suite.expectations = []

batch_kwargs = {
    "data_asset_name": "penguins_iter",
    "datasource": "pandas_penguins",
    "path": "/Users/lais_carvalho/Desktop/projects/kedroid/kedro_penguins/kedro_penguins/great_expectations/../data/01_raw/penguins_iter.csv",
}
batch = context.get_batch(batch_kwargs, suite)
batch.head()

2020-09-10T16:03:07+0100 - INFO - Great Expectations logging enabled at 20 level by JupyterUX module.

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

## Create & Edit Expectations

Add expectations by calling specific expectation methods on the `batch` object. They all begin with `.expect_` which makes autocompleting easy using tab.

You can see all the available expectations in the **[expectation glossary](https://docs.greatexpectations.io/en/latest/reference/glossary_of_expectations.html?utm_source=notebook&utm_medium=create_expectations)**.

### Table Expectation(s)

In [2]:
batch.expect_table_row_count_to_be_between(max_value=378, min_value=309)

{
  "success": true,
  "exception_info": null,
  "result": {
    "observed_value": 344
  },
  "meta": {}
}

In [3]:
batch.expect_table_column_count_to_equal(value=17)

{
  "success": true,
  "exception_info": null,
  "result": {
    "observed_value": 17
  },
  "meta": {}
}

In [ ]:
batch.expect_table_columns_to_match_ordered_list(
    column_list=[
        "studyName",
        "Sample Number",
        "Species",
        "Region",
        "Island",
        "Stage",
        "Individual ID",
        "Clutch Completion",
        "Date Egg",
        "Culmen Length (mm)",
        "Culmen Depth (mm)",
        "Flipper Length (mm)",
        "Body Mass (g)",
        "Sex",
        "Delta 15 N (o/oo)",
        "Delta 13 C (o/oo)",
        "Comments",
    ]
)

### Column Expectation(s)

#### `studyName`

In [ ]:
batch.expect_column_values_to_not_be_null(column="studyName")

In [ ]:
batch.expect_column_distinct_values_to_be_in_set(
    column="studyName", value_set=["PAL0708", "PAL0809", "PAL0910"]
)

In [ ]:
batch.expect_column_kl_divergence_to_be_less_than(
    column="studyName",
    partition_object={
        "values": ["PAL0708", "PAL0809", "PAL0910"],
        "weights": [0.31976744186046513, 0.3313953488372093, 0.3488372093023256],
    },
    threshold=0.6,
)

#### `Sample Number`

In [ ]:
batch.expect_column_values_to_not_be_null(column="Sample Number")

In [ ]:
batch.expect_column_min_to_be_between(column="Sample Number", max_value=2, min_value=0)

In [ ]:
batch.expect_column_max_to_be_between(
    column="Sample Number", max_value=153, min_value=151
)

In [ ]:
batch.expect_column_mean_to_be_between(
    column="Sample Number", max_value=64.15116279069767, min_value=62.151162790697676
)

In [ ]:
batch.expect_column_median_to_be_between(
    column="Sample Number", max_value=59.0, min_value=57.0
)

In [ ]:
batch.expect_column_quantile_values_to_be_between(
    column="Sample Number",
    allow_relative_error=False,
    quantile_ranges={
        "quantiles": [0.05, 0.25, 0.5, 0.75, 0.95],
        "value_ranges": [[5, 7], [28, 30], [57, 59], [94, 96], [134, 136]],
    },
)

#### `Individual ID`

In [ ]:
batch.expect_column_values_to_not_be_null(column="Individual ID")

In [ ]:
batch.expect_column_value_lengths_to_be_between(column="Individual ID", min_value=1)

## Save & Review Your Expectations

Let's save the expectation suite as a JSON file in the `great_expectations/expectations` directory of your project.
If you decide not to save some expectations that you created, use [remove_expectation method](https://docs.greatexpectations.io/en/latest/module_docs/data_asset_module.html?highlight=remove_expectation&utm_source=notebook&utm_medium=edit_expectations#great_expectations.data_asset.data_asset.DataAsset.remove_expectation).

Let's now rebuild your Data Docs, which helps you communicate about your data with both machines and humans.

In [ ]:
batch.save_expectation_suite(discard_failed_expectations=False)

results = context.run_validation_operator("action_list_operator", assets_to_validate=[batch])
validation_result_identifier = results.list_validation_result_identifiers()[0]
context.build_data_docs()
context.open_data_docs(validation_result_identifier)